.company_img {
  width: 10%;
  margin-right: 10px;
}
.user-image{
  width: 100%;
}
.due-dates .card-body {
  padding: 10px;
}
.custom-modal {
  padding-left: 0; /* Override the default padding */
}
.accordion-header:hover {
  background: #eaeaea;
  position: relative;
  z-index: 5;
}
.campaign-font{
  font-weight: bolder;
}